<!DOCTYPE html>
<html lang="en" data-theme="dark">

	<head>
		<title>Player</title>

		<base href="./resources" />

		<link href="/dist/app.min.css" rel="stylesheet">
		<link href="main.css" rel="stylesheet">

		<script src="/dist/codemirror.js"></script>
		<script src="/dist/app-base.min.js"></script>

		<style>
			body { border: 1px solid #555; }
			button[name="share"] { display: none; }
			#player-editor .sidebar { max-width: 550px!important; }
		</style>
	</head>
	<body class="column">

		<%- include('help.html') %> 
		<%- include('titlebar.html') %> 

		<%- include('common/index.html') %> 

		<div id="app-page" class="row">

			<%- include('sidebar/index.html') %>
			<%- include('editor/index.html') %>
		</div>

		<script src="/player/electron/renderer.js"></script>

		<script type="module">

			// import { PlayerApp } from '/app.js';
			import PlayerApp from '/app.js';

			window.App = PlayerApp;

			function startApp() {
					
				const app = new PlayerApp;

				app.load();
			}

			startApp();
		
		</script>

	</body>
</html>
